/* .navbar-brand ,img{
    height: 80px;
} */
#nav-margin{
    margin-bottom: 0px;
}
.container{
    margin-bottom: 80px;
    overflow-x: hidden;
}

.carousel-item{
    padding: 20px 40px;
    
}

.buy-now-button{
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 20px;
    
}
#see-all{
    color: orange;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}
.price-button{
    text-align: center;
}

.card-footer{
    background-color: white;
    border-top: none;
}
.categories{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}
.zxc{
    align-items: center;
}
.col-md-3 ,img{
    padding: 15px 1px;
    
}
u
{
    text-decoration-color: orange;
    
}